<!DOCTYPE html>
<html>
<head>

	<script src="/socket.io/socket.io.js"></script>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script data-main="assets/main" src="assets/libs/require.js"></script>
    <title>Wykop Live</title>

</head>
<body>
	<table>
		<tr>
			<td style="vertical-align: top">
				<div id="map-canvas" style="width: 800px; height: 600px;"></div>
			</td>
			<td style="vertical-align: top">
				<ul id="items"></ul>
			</td>
		</tr>
	</table>
</body>
</html>